{% extends "base.html" %}
{% block content%}
    <div class="commdiv">
        Title: {{ idpost.name }} <br>
        Created at: <span class="ctime">{{ idpost.created_at }}</span> <br>
        Last update: <span class="ctime">{{ idpost.updated_at }}</span> <br>
        Blog: <a href={% url "blog:blog_detail" pk=idpost.blog.id %}>{{ idpost.blog }}</a> <br>
        Author: {% include "user_ref.html" with user=idpost.author %}
    </div>
    <div class="textAr">
        {{ idpost.text }}
    </div>
    <div class="commdiv">
        Comments:
        <ol>
        {% for comment in idpost.comments.all %}
            <li><a href={% url "comments:comment_detail" pk=comment.id %}>{{ comment }}</a></li>
        {% endfor %}
        </ol>
    </div>
    <div class="commdiv">
        Likes:{{ idpost.likes.all|length }}
    </div>
{% endblock %}