<form data-form-type="mainModalForm" action="{% url "blog:post_create" pk=blog.id %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
            <span style="color: gray; font-size: small">{{ field.help_text|safe }}</span>
        {% endif %}
        <br>
        {% for error in field.errors %}
            <span style="color: red; forn-size: small">{{ error }}</span>
        {% endfor %}
        {% if field.errors %}
            <br>
        {% endif %}
    {% endfor %}<br>
    <input type="submit" class="btn btn-primary" value="Create">
</form>