<div class="list-element panel panel-info">
    <div class="panel-heading">
        {% include "blog/ref_post.html" with post=post%}
    </div>
    <div class="list-element-text panel-body">
        {{ post.text }}
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="column col-md-7">
                owner: {% include "core/ref_user.html" with user=post.author%}
                created at: {{ post.created_at }}
            </div>
            <div class="column col-md-5 ">
                <div class="d-md-flex justify-content-end">
                    {% if user == post.author %}
                        <button type="button"
                            class="main-modal-link btn m-1"
                            data-main-modal-label="Edit post({{ post.name }})"
                            data-main-modal-get-link={% url "blog:post_update" pk=post.id %}>
                            Edit
                        </button>
                    {% endif %}
                    <form data-action-type="LIKE" data-like-counter-id="LID{{ post.id }}" method="post" action="{% url "like:like" %}">
                        {% csrf_token %}
                        <input type="hidden" value="{{ user.id }}" name="user_id">
                        <input type="hidden" value="{{ post.id }}" name="object_id">
                        <input type="hidden" value="Post" name="content_type">
                        <button type="submit" class="btn m-1">
                            Likes <span class="badge" id="LID{{ post.id }}">{{ post.likes.all|length }}</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>