{% extends "core/g_base.html" %}
{% block content %}
    <div class="panel panel-primary main-info-panel">
        <div class="panel-heading">
            {% if user == cuser %} About you {% else %} {{ cuser.username }}'s info {% endif %}
        </div>
        <div class="panel-body">
            Username: {{ cuser }} <br>
            First name: {{ cuser.first_name|default:"undefined" }} <br>
            Last name: {{ cuser.last_name|default:"undefined" }} <br>
            Joined at: {{ cuser.date_joined }}<br>
        </div>
    </div>
    <div>

    </div>

{% endblock %}
{% block sidebar %}
    <li class="list-group-item" data-item-type="a" data-href={% url "core:profile_blogs" pk=cuser.pk%}>Blogs</li>
    <li class="list-group-item" data-item-type="a" data-href={% url "core:profile_posts" pk=cuser.pk%}>Posts</li>
    <li class="list-group-item" data-item-type="a" data-href={% url "core:profile_comments" pk=cuser.pk%}>Comments</li>
    <li class="list-group-item" data-item-type="a" data-href={% url "core:profile_favorites" pk=cuser.pk%}>Favorites</li>
    {% if user == cuser %}
        <li class="list-group-item main-modal-link"
                data-main-modal-label="Change password"
                data-main-modal-get-link={% url "core:profile_update_pass" %}>
            Change password
        </li>
        <li class="list-group-item main-modal-link"
                data-main-modal-label="Edit profile"
                data-main-modal-get-link={% url "core:profile_update" %}>
            Edit profile
        </li>
        <li
                class="list-group-item main-modal-link"
                data-main-modal-label="Create blog"
                data-main-modal-get-link={% url "blog:blog_create" %}>
            New blog
        </li>
    {% endif %}
{% endblock %}
