{% load adding_class %}
<form class="form-search-sidebar detail" method="get" action="{{ action }}">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label_tag }}{{ field }}<br>
        {% if field.help_text %}
            <span style="color: gray; font-size: small">{{ field.help_text|safe }}</span>
        {% endif %}
        <br>
        {% for error in field.errors %}
            <span style="color: red; forn-size: small">{{ error }}</span>
        {% endfor %}
        {% if field.errors %}
            <br>
        {% endif %}
    {% endfor %}<br>
    <input value="apply" type="submit" class="btn btn-primary">
</form>