{% extends "base.html" %}
{% block content%}
    <div class="commdiv">
        Comment: #id{{ idcom.id }} <br>
        Created at: <span class="ctime">{{ idcom.created_at }}</span> <br>
        Post: {% include "post_ref.html" with post=idcom.post %} <br>
        Author: {% include "profile_ref.html" with user=idcom.author %}<br>
        {% include "update_comment_ref.html" with commentid=idcom.id %}
    </div>
    <div class="textAr">
        {{ idcom.text }}
    </div>
    <div class="commdiv">
        Likes: {{ idcom.likes.all|length }}
    </div>
{% endblock %}